<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/crest.png" alt="" />
      Lambda Psi Rho
    </a>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> About </a>
        <!-- About Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/about.html"> About Us </a>
          <a class="navbar-item" href="/membership.html">
            Membership
          </a>
          <a class="navbar-item" href="/academics.html">
            Academics
          </a>
          <a class="navbar-item" href="/stepping.html">
            Stepping & Strolling
          </a>
          <a class="navbar-item" href="/events.html">
            Upcoming Events
          </a>
          <a class="navbar-item" href="/expansion.html">
            Expansion
          </a>
          <a class="navbar-item" href="/incorporation.html">
            Incorporation, Chartering, and Non-profit
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Brothers </a>
        <!-- Brothers Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/founding.html">
            Founding Chapter
          </a>
          <a class="navbar-item" href="/active.html">
            Active House
          </a>
          <a class="navbar-item" href="/alumni.html">
            Alumni Chapter
          </a>
          <a class="navbar-item" href="/executive.html">
            Executive Board
          </a>
          <a class="navbar-item" href="/national.html">
            National Board
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Philanthropies </a>
        <!-- Philanthropies Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/philanthropies/local.html">
            Local Philanthropies
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
