<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get the "navbar-burger" element
    const burger = document.querySelector(".navbar-burger");
    const menu = document.querySelector("#" + burger.dataset.target);

    burger.addEventListener("click", () => {
      burger.classList.toggle("is-active");
      menu.classList.toggle("is-active");
    });
  });
</script>

<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/crest.png" alt="" />
      Lambda Psi Rho
    </a>
    <!-- Hamburger menu -->
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> About </a>
        <!-- About Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ site.baseurl }}/about.html"> About Us </a>
          <a class="navbar-item" href="{{ site.baseurl }}/membership.html"> Membership </a>
          <a class="navbar-item" href="{{ site.baseurl }}/academics.html"> Academics </a>
          <a class="navbar-item" href="{{ site.baseurl }}/stepping.html">
            Stepping & Strolling
          </a>
          <a class="navbar-item" href="{{ site.baseurl }}/events.html"> Upcoming Events </a>
          <a class="navbar-item" href="{{ site.baseurl }}/expansion.html"> Expansion </a>
          <a class="navbar-item" href="{{ site.baseurl }}/incorporation.html">
            Incorporation, Chartering, and Non-profit
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Brothers </a>
        <!-- Brothers Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ site.baseurl }}/founding.html"> Founding Chapter </a>
          <a class="navbar-item" href="{{ site.baseurl }}/active.html"> Active House </a>
          <a class="navbar-item" href="{{ site.baseurl }}/alumni.html"> Alumni Chapter </a>
          <a class="navbar-item" href="{{ site.baseurl }}/national.html"> National Board </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Philanthropies </a>
        <!-- Philanthropies Dropdown -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ site.baseurl }}/philanthropies/local.html">
            Local Philanthropies
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
