html,
body,
#root,
.App {
  /* height: 100%; */
  width: 100%;
  background-color: rgb(84, 20, 44);
  font-family: 'Lora', serif;
  height: fit-content;
  background: url(/lpr-website/website-front-banner.png);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
  height: max(fit-content, 100%);
}

.navbar-brand {
  float: left;
  justify-content: left;
}

.home-page-content {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  max-width: 95%;
  max-height: 95%;
  text-align: center;
}

.col {
  margin-top: 200px;
}

.main-content-wrapper {
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 80%;
  position: relative;
}

.main-content-paragraph-wrapper {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  max-width: 95%;
  max-height: 95%;
  position: relative;
  color: rgba(0, 0, 0);
  text-align: left;
  font-size: calc(12px + 0.5vw);
}

.centered-text-paragraph {
  text-align: center;
}

img.resize {
  height: auto;
}

iframe {
  width: 80%;
}

ul {
  list-style-position: inside;
}

#about-page-video {
  margin: auto;
  padding: auto;
  max-width: 50%;
  max-height: 80%;
}

#about-us-button {
  background-color: rgba(128, 0, 0, 0.8);
  color: white;
  border-color: white;
}
