html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: maroon;
}

.App > nav {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-brand {
  float: left;
  justify-content: left;
}

main {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/website-front-banner.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow-y: hidden;
}

.col {
  margin-top: 200px;
}

.main-content-wrapper {
  background-color: rgb(87,19,43);
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 80%;
  max-height: 70%;
  position: relative;
}

img.resize {
  height: auto;
}
