.App > nav {
    padding-bottom: 0;
    padding-top: 0;
    background-color: rgb(0, 0, 0, 0) !important;
    position: sticky;
    top: 0;
    z-index:99;
}

/* .navbar {
    color: rgb(192, 0, 0) !important;
} */

.App > nav > div.container {
    margin: 0;
    max-width: 100%;
}

/* title */
.App > nav > div > a {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.App > nav > div > a:hover {
    font-size: 30px;
    color: maroon;
}


/*nav links*/
#basic-nav-dropdown{
    font-size: 18px;
    text-shadow: 2px 2px 5px black;
    color: white;
}

#basic-nav-dropdown:hover{
    color: rgb(0, 0, 0);
}